@import url("http://nicholastodor.com/sf/usesf.css");
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/components/general/_type.scss */
p {
  font-size: 18px;
}

/* line 9, ../sass/components/general/_type.scss */
h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  line-height: 1.3;
}

/* line 17, ../sass/components/general/_type.scss */
h1 {
  font-size: 30px;
}

/* line 21, ../sass/components/general/_type.scss */
h2 {
  font-size: 25px;
}

/* line 4, ../sass/components/general/_forms.scss */
input, input [type="text"], input [type="email"], button {
  position: relative;
  background: #fff;
  border: none;
  outline: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: none;
  color: #888;
}

/* line 18, ../sass/components/general/_forms.scss */
button {
  background: rgba(255, 255, 255, 0.5);
  color: #51935b;
  cursor: pointer;
  -moz-transition: all, 0.3s, ease;
  -o-transition: all, 0.3s, ease;
  -webkit-transition: all, 0.3s, ease;
  transition: all, 0.3s, ease;
}
/* line 24, ../sass/components/general/_forms.scss */
button:hover {
  background: rgba(255, 255, 255, 0.55);
}
/* line 28, ../sass/components/general/_forms.scss */
button:active {
  background: rgba(255, 255, 255, 0.6);
}

/* line 5, ../sass/components/_mailing-list.scss */
.mailing-list p {
  padding: 60px 0 30px;
}

/* line 10, ../sass/components/_mailing-list.scss */
.mailing-list-input-container {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
/* line 14, ../sass/components/_mailing-list.scss */
.mailing-list-input-container input {
  z-index: 2;
}
/* line 18, ../sass/components/_mailing-list.scss */
.mailing-list-input-container button {
  z-index: 1;
  margin-left: -108px;
  padding-left: 24px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 30, ../sass/components/_mailing-list.scss */
.mailing-list-input-container:hover button {
  margin-left: -8px;
}

/* line 5, ../sass/components/_hero.scss */
#hero {
  border-bottom: 2px solid #80ba8c;
}

/* line 10, ../sass/components/_hero.scss */
#hero-logo {
  height: 230px;
  width: 100%;
  background: url("../images/hero-logo.svg") no-repeat;
  background-size: auto 230px;
  background-position: center;
}

/* line 18, ../sass/components/_hero.scss */
#hero-head {
  padding: 50px 50px 0;
}

/* line 6, ../sass/components/_explanation.scss */
.explanation article {
  padding: 25px 0;
  position: relative;
}

/* line 13, ../sass/components/_explanation.scss */
.explanation-image-container {
  width: 100%;
  height: 0;
  background-size: contain !important;
}

/* line 21, ../sass/components/_explanation.scss */
#explanation-detection-visual {
  width: 35%;
  position: relative;
}
/* line 25, ../sass/components/_explanation.scss */
#explanation-detection-visual .explanation-image-container {
  background: url("../images/graph.svg") no-repeat;
  padding-top: 112.0%;
}

/* line 32, ../sass/components/_explanation.scss */
#explanation-detection-text {
  width: 55%;
}

/* line 38, ../sass/components/_explanation.scss */
#explanation-notification-visual {
  width: 35%;
  position: relative;
}
/* line 42, ../sass/components/_explanation.scss */
#explanation-notification-visual .explanation-image-container {
  background: url("../images/notification.svg") no-repeat;
  padding-top: 110.36036%;
}

/* line 48, ../sass/components/_explanation.scss */
#explanation-notification-text {
  width: 55%;
}

/* line 54, ../sass/components/_explanation.scss */
#explanation-technique-visual {
  width: 35%;
  position: relative;
}
/* line 58, ../sass/components/_explanation.scss */
#explanation-technique-visual .explanation-image-container {
  background: url("../images/478.svg") no-repeat;
  padding-top: 50.25641%;
}

/* line 65, ../sass/components/_explanation.scss */
#explanation-technique-text {
  width: 55%;
}

/* line 71, ../sass/components/_explanation.scss */
#explanation-blob-visual {
  width: 35%;
  position: relative;
}
/* line 75, ../sass/components/_explanation.scss */
#explanation-blob-visual .explanation-image-container {
  background: url("../images/blob.gif") no-repeat;
  padding-top: 89.74359%;
}

/* line 82, ../sass/components/_explanation.scss */
#explanation-blob-text {
  width: 55%;
}

/* line 3, ../sass/components/_product-preview.scss */
#product-preview {
  background: #fff;
  border-top: 2px solid #dde5da;
  border-bottom: 2px solid #dde5da;
  color: #8ecf9b;
}

/* line 12, ../sass/components/_product-preview.scss */
#product-preview-container {
  padding: 25px 0;
  position: relative;
}

/* line 18, ../sass/components/_product-preview.scss */
#product-preview-visual {
  width: 35%;
  position: relative;
}

/* line 23, ../sass/components/_product-preview.scss */
#product-preview-image-container {
  width: 100%;
  height: 0;
  background-size: contain;
  background: url("../images/watch.svg") no-repeat;
  padding-top: 180.13793%;
}

/* line 31, ../sass/components/_product-preview.scss */
#product-preview-text {
  width: 55%;
}

/* line 35, ../sass/components/_product-preview.scss */
#product-preview-video {
  position: absolute;
  top: 28%;
  width: auto;
  height: 45%;
  left: 16.8%;
}

/* line 3, ../sass/components/_footer.scss */
#footer {
  border-top: 2px solid #80ba8c;
}

/* line 26, ../sass/main.scss */
body {
  font-family: "San Francisco Text", sans-serif;
  font-weight: 200;
  background: #fff;
  margin: 0;
  padding: 0;
}

/* line 34, ../sass/main.scss */
section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f8fdf7;
  color: #888;
}

/* line 44, ../sass/main.scss */
.two-col, .explanation, #product-preview {
  padding: 25px 15%;
}

/* line 48, ../sass/main.scss */
.two-col-flex, .explanation article, #product-preview-container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 54, ../sass/main.scss */
.white-on-green, #hero, #footer {
  background: #8ecf9b;
  color: #fff;
  text-align: center;
  padding: 50px 0 50px;
}
