// explanation sections

.explanation {
	@extend .two-col;
	
	article {
		@extend .two-col-flex;
		padding: 25px 0;
		position: relative;
	}
}

.explanation-image-container {
	width: 100%;
	height: 0;
	background-size: contain !important;
}

// detection article

#explanation-detection-visual {	
	.explanation-image-container {
		background: $explanation-detection-visual-path;
		padding-top: percentage(840 / 750);
	}
}

// notification article

#explanation-notification-visual {
	.explanation-image-container {
		background: $explanation-notification-visual-path;
		padding-top: percentage(245 / 222);
	}
}

// technique article

#explanation-technique-visual {
	.explanation-image-container {
		background: $explanation-technique-visual-path;
		padding-top: percentage(294 / 585);
	}
}

// blob article

#explanation-blob-visual {
	.explanation-image-container {
		background: $explanation-blob-visual-path;
		padding-top: percentage(280 / 312);
	}
}