// footer

#footer {
	@extend .white-on-green;
	border-top: 2px solid shade($green,10%);
	padding-bottom: 0 !important;
	
	h2 {
		padding: 0 50px;
		
		@media only screen and (max-width: $break-mobile) {
			padding: 0 25px;
		}
		
		@media only screen and (min-width: $break-desktop) {
			padding: 0 15%;
		}
	}
}

#social-links {
	@include display-flex;
	@include justify-content(center);
	padding-top: 50px;
	
	> a {
		width: 40px;
		height: 40px;
		margin: 0 5px;
		opacity: 0.5;
		text-decoration: none;
		@include transition(opacity 0.2s ease);
		
		&:hover {
			opacity: 0.7;
		}
	}
}

#soon-for-applewatch {
	position: relative;
	padding: 25px 25px 0 !important;
	font-weight: 400;
}

#apple-watch {
	background: $apple-watch-link;
	height: 19px;
	width: 88px;
	margin-left: 5px;
	display: inline-block;
}

#instagram-link {
	background: $instagram-logo-link;
}

#facebook-link {
	background: $facebook-logo-link;
}

#twitter-link {
	background: $twitter-logo-link;
}

#mail-link {
	background: $mail-logo-link;
}

#imprint-link {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	margin-top: 50px !important;
	padding: 0 0 50px;
	color: rgba(255,255,255,0.5);
	cursor: pointer;
	@include transition(color 0.3s ease);
	
	&:hover {
		color: rgba(255,255,255,0.8);
	}
	
	&.is-hidden {
		visibility: hidden;
	}
}

#imprint {
	color: $green-dark;
	text-align: left;
	padding: 25px 15% 50px;
	background: shade($green,7%);
	border-top: 2px solid shade($green,10%);
	display: none;
	
	h2 {
		margin: 0;
		padding: 25px 0 0;
	}
	
	p {
		margin-top: 10px;
	}
	
	&.is-visible {
		display: block;
	}
}