// hero section

$hero-logo-height: 	230px;
$hero-logo-height-1600: 640px;

#hero {
	@extend .white-on-green;
	border-bottom: 2px solid shade($green,10%);
}

#hero-logo {
	height: $hero-logo-height;
	width: 100%;
	background: $hero-logo-path;
	background-size: auto $hero-logo-height;
	background-position: center;
}
//
//@media only screen and (min-width: 1500px) {
//	#hero-logo {
//		height: $hero-logo-height-1600;
//		background-size: auto $hero-logo-height-1600;
//	}
//}

#hero-head {
	padding: 50px 50px 0;
	
	@media only screen and (max-width: $break-mobile) {
		padding: 50px 25px 0;
	}
	
	@media only screen and (min-width: $break-desktop) {
		padding: 50px 15% 0;
	}
}

