// hero section

$hero-logo-height: 	230px;

#hero {
	@extend .white-on-green;
	border-bottom: 2px solid shade($green,10%);
}

#hero-logo {
	height: $hero-logo-height;
	width: 100%;
	background: $hero-logo-path;
	background-size: auto $hero-logo-height;
	background-position: center;
}

#hero-head {
	padding: 50px 50px 0;
}

