// mailing list


.mailing-list {
	p {
		padding: 60px 25px 30px;
	}
}

.mailing-list-input-container {
	@include display-flex;
	@include justify-content(center);
	
	input {
		z-index: 2;
	}

	button {
		z-index: 1;
		margin-left: - ($form-border-radius + 100px);
//		margin-left: -$form-border-radius;
		padding-left: $form-padding + $form-border-radius;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		
//		@include animate(margin-left .3s ease-in-out);
	}
	
	&.has-submit-button {
		button {
			margin-left: -$form-border-radius;
		}
	}
}

@media only screen and (max-width: $break-mobile) {
	.mailing-list-input-container {
		@include flex-direction(column);
		width: 200px;
		margin: 0 auto;
		
		button {
			margin: 0;
			margin-top: - ($form-border-radius + 10px);
			padding-left: $form-padding;
			padding-top: 0;
			border-radius: $form-border-radius;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			width: 100%;
			@include box-sizing(border-box);
		}
		
		input {
			width: 100%;
			@include box-sizing(border-box);
		}
	
		&.has-submit-button {
			button {
				margin: 0;
				padding-top: $form-padding + $form-border-radius;
				margin-top: -$form-border-radius;
			}
		}
	}
}