// mailing list


.mailing-list {
	p {
		padding: 60px 0 30px;
	}
}

.mailing-list-input-container {
	@include display-flex;
	justify-content: center;
	
	input {
		z-index: 2;
	}

	button {
		z-index: 1;
		margin-left: - ($form-border-radius + 100px);
//		margin-left: -$form-border-radius;
		padding-left: $form-padding + $form-border-radius;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		
//		@include animate(margin-left .3s ease-in-out);
	}
	
	&.has-submit-button {
		button {
			margin-left: -$form-border-radius;
		}
	}
}