// reset + mixins

@import "compass/reset";
@import "compass/css3";

// general styles

@import "components/general/variables";
@import "components/general/type";
@import "components/general/forms";

// components

@import "components/mailing-list";

// sections

@import "components/hero";
@import "components/explanation";
@import "components/product-preview";
@import "components/footer";

// main styles
// -----------

body {
	font-family: $base-font-family;
	font-weight: 200;
	background: #fff;
	margin: 0;
	padding: 0;
}

p {
	line-height: 1.3;
}

section {
	@include box-sizing(border-box);
	background: $section-background;
	color: $gray;
}


// extensions
// ----------

.two-col {
	padding: 25px 15%;
	
	@media only screen and (max-width: $break-mobile) {
		padding: 25px;
	}
}

.two-col-flex {
	@include display-flex;
	@include justify-content(space-between);	
	@include align-items(center);
	
	> div {
		width: 35%;
		position: relative;
	}
	
	> h1, > h2 {
		width: 55%;
		position: relative;
	}
}

@media only screen and (max-width: $break-mobile) {
	
	.two-col-flex {
		@include flex-direction(column);

		> div, > h1, > h2 {
			width: 100%;
		}
		
		> div {
			@include order(-1);
			margin: 25px auto 50px;
//			width: 70%;
		}
	}
}

.white-on-green {
	background: $green;
	color: $white;
	text-align: center;
	padding: 50px 0 50px;
}

#hero-logo, #hero-head, .mailing-list, section > article, footer > h2, #social-links, #imprint-link, #imprint {
	max-width: 1600px;
	margin: 0 auto;
}