// variables
// ---------

// colors

$black:				#000;
$white:				#fff;

$green: 			#8ecf9b;
$green-dark:	#51935b;

$gray: 				#888;

$section-background: #f8fdf7;
$section-border-color: #dde5da;
// fonts

$base-font-family: 'San Francisco Text', sans-serif;
$base-font-size: 18px;
$small-font-size: 14px;

// links

$hero-logo-path: url('../images/hero-logo.svg') no-repeat;

$explanation-detection-visual-path: 			url('../images/graph.svg') no-repeat;
$explanation-notification-visual-path:		url('../images/notification.svg') no-repeat;

$product-preview-visual-path:							url('../images/watch.svg') no-repeat;

$explanation-technique-visual-path:				url('../images/478.svg') no-repeat;
$explanation-blob-visual-path:						url('../images/blob.gif') no-repeat;